{% extends "base.html" %}
{% block content %}
<div class="content ">

    <div
        class="breadcrumb breadcrumb--fixed touch-focused disable-prevent-link-clicks compensate-for-scrollbar no-scrollbar">
        <a href="/">Главная</a> / О проекте
        <div class="breadcrumb__toggler"></div>
    </div>
    <div class="breadcrumb-replace"></div>

    <div class="content__inner">


        <h1>О проекте</h1>

        <p>Наш проект создан специально для горных путешественников. Вы сможете с лёгкостью собрать информацию по нужным
            перевалам и вершинам с фотографиями, картами и различной полезной информацией.</p>

        <p>Если раньше нужно было искать информацию по перевалам, вершинам по разным сайтам, то теперь всё находится в
            одном месте.</p>

        <h2>Благодарности</h2>

        <p>Мы благодарим пользователей, участвующих в обновлении информации по объектам и помогающих улучшать наш
            проект.</p>

        <p>Благодарим активных участников проекта, а также следующие проекты, информация с которых послужила основной
            для нашего проекта:</p>

        <ul>
            <li><a href="http://westra.ru" target="_blank">Турклуб
                    Вестра</a>: их классификатор районов и информация по перевалам и вершинам послужила базой для нашего
                сайта.</li>
            <li><a href="https://caucatalog.ru" target="_blank">caucatalog.ru</a>: благодаря сайту Михаила Голубева на
                нашем проекте появились
                первые фотографии перевалов и вершин Кавказа.</li>
            <li><a href="http://tlib.ru" target="_blank">tlib.ru</a>: из
                Библиотеки отчетов о спортивных походах мы взяли первые отчеты для большинства объектов и районов.</li>
            <li><a href="https://www.glims.org" target="_blank">www.glims.org</a>: информация о ледниках получена из
                базы данных GLIMS.</li>
            <li>Юрий Петрович Суриков (Заслуженный путешественник России): за активное участие в развитии проекта и
                предоставленные фотоматериалы.</li>
        </ul>

    </div>

</div>

<div class="footer footer--absolute touch-focused disable-prevent-link-clicks">
    <div class="copyright">
        <a href="https://vk.com/pereval.online" target="_blank"
            class="social-icon social-icon--vk tooltip tooltipstered tooltip-inited"><i class="fab fa-vk"></i></a> ©
        2025 Перевал.Online. Просим указывать ссылку на <a href="https://pereval.online/">pereval.online</a> при
        использовании материалов сайта.
    </div>
</div>
<div class="footer-replace"></div>
{% endblock %}