{% extends "base.html" %}
{% block content %}
<div class="content ">

    <div
        class="breadcrumb breadcrumb--fixed touch-focused disable-prevent-link-clicks compensate-for-scrollbar no-scrollbar">
        <a href="/">Главная</a> / Контакты
        <div class="breadcrumb__toggler"></div>
    </div>
    <div class="breadcrumb-replace"></div>

    <div class="content__inner">

        <h1>Контакты</h1>

        <p>Для добавления или изменения информации по объектам и районам пишите на <a
                href="mailto:editor@pereval.online">editor@pereval.online</a>.</p>

        <p>По любым другим вопросам работы сайта можно писать на <a
                href="mailto:support@pereval.online">support@pereval.online</a>.</p>

        <p>Куратор и главный редактор проекта: Александр Шмельков.</p>

    </div>

</div>

<div class="footer footer--absolute touch-focused disable-prevent-link-clicks">
    <div class="copyright">
        <a href="https://vk.com/pereval.online" target="_blank"
            class="social-icon social-icon--vk tooltip tooltipstered tooltip-inited"><i class="fab fa-vk"></i></a> ©
        2025 Перевал.Online. Просим указывать ссылку на <a
            href="https://pereval.online/">pereval.online</a> при
        использовании материалов сайта.
    </div>
</div>
<div class="footer-replace"></div>
{% endblock %} 