{% extends "base.html" %}
{% block content %}

<div class="object__block object__block--nomargin object__block--marginbneg">
    
    <div class="region">
        <h1>Список районов</h1>
        <div class="region__main">
            <div class="region__list">
                <nav class="menu-list menu-list--nolink">
                    <ul>
                        {% for region in regions %}
                        <li>
                            <a href="/regions/{{ region.id }}">
                                <span class="link">{{ region.name }}</span>&nbsp;<span class="color-muted-strong font-smaller">({{ region.count }})</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="footer footer--absolute touch-focused disable-prevent-link-clicks">
    <div class="copyright">
        <a href="https://vk.com/pereval.online" target="_blank"
            class="social-icon social-icon--vk tooltip tooltipstered tooltip-inited"><i class="fab fa-vk"></i></a> ©
        2025 Перевал.Online. Просим указывать ссылку на <a
            href="https://pereval.online/">pereval.online</a> при
        использовании материалов сайта.
    </div>
</div>
<div class="footer-replace"></div>
{% endblock %} 