{% extends "base.html" %}

{% block content %}
<div class="content ">

    <div
        class="breadcrumb breadcrumb--fixed touch-focused disable-prevent-link-clicks compensate-for-scrollbar no-scrollbar">
        <a href="/regions">Все районы</a>
        {% for region in trip.region_breadcrumbs %}
        / <a href="/regions/{{ region.id }}">{{ region.name }}</a>
        {% endfor %}
        <div class="breadcrumb__toggler"></div>
    </div>
    <div class="breadcrumb-replace"></div>

    <div class="content__inner">

        <div class="trip">

            <h1 class="title">
                <span class="title-text">
                    {{ trip.title_text }}
                </span>
            </h1>

            <div class="trip__sections">
                <div class="trip__section trip__section--content">

                    {% if trip.difficulty.is_some() %}
                    <div class="trip__param">
                        <strong>Категория сложности:</strong>
                        <span>{{ trip.difficulty.as_ref().unwrap() }}</span>
                    </div>
                    {% endif %}

                    {% if trip.season.is_some() %}
                    <div class="trip__param">
                        <strong>Сезон похода:</strong>
                        <span>{{ trip.season.as_ref().unwrap() }}</span>
                    </div>
                    {% endif %}

                    {% if trip.author.is_some() %}
                    <div class="trip__param">
                        <strong>Автор:</strong>
                        <span>{{ trip.author.as_ref().unwrap() }}</span>
                    </div>
                    {% endif %}

                    {% if trip.city.is_some() %}
                    <div class="trip__param">
                        <strong>Город:</strong>
                        <span>{{ trip.city.as_ref().unwrap() }}</span>
                    </div>
                    {% endif %}

                    <div class="trip__param">
                        <strong>Маршрут:</strong>
                        <div class="trip-path-view"><a href="#"
                                class="btn btn--xxsmall btn--nopadding tooltip js-trip-path-view tooltipstered"
                                data-type="vert">↓</a> <a href="#"
                                class="btn btn--xxsmall btn--nopadding tooltip js-trip-path-view tooltipstered active cursor-default"
                                data-type="horz">→</a></div>
                        <div class="trip__path js-trip-path trip__path--horz">
                            {% for item in trip.route %}
                            <div class="trip__path-sitem" data-id="{{ item.id }}">
                                {% if item.object_id.is_some() %}
                                <div
                                    class="sobject-wrapper sobject-wrapper--inline sobject-wrapper--oneline sobject-wrapper--w-hover">
                                    <div class="sobject"
                                        data-latlng="{{ item.latitude.unwrap_or(0.0) }},{{ item.longitude.unwrap_or(0.0) }}"
                                        data-id="{{ item.object_id.as_ref().unwrap() }}">
                                        <a href="/objects/{{ item.object_id.as_ref().unwrap() }}"
                                            class="sobject__link">{{ item.name.as_deref().unwrap_or("Без названия")
                                            }}</a>
                                        <span class="sobject__params">
                                            {% if item.object_type.is_some() %}{{ item.object_type.as_deref().unwrap()
                                            }}{% endif %}
                                            {% if item.category.is_some() %} ({{ item.category.as_ref().unwrap() }}{% if item.height.is_some() %}, {{ item.height.as_ref().unwrap() }} м{% endif %}){% else if item.height.is_some() %} ({{ item.height.as_ref().unwrap() }} м){% endif %}
                                            {% if item.latitude.is_some() %}
                                            {% if item.longitude.is_some() %}
                                            <i class="fas fa-map-marker-alt js-sobject-marker tooltip tooltip-notouch tooltipstered"
                                                data-title="Есть координаты"></i>
                                            {% endif %}
                                            {% endif %}
                                            <i class="far fa-file-alt tooltip tooltip-notouch tooltipstered" data-title="{{ item.trip_count.unwrap_or(0) }} отчётов"><sup> {{ item.trip_count.unwrap_or(0) }}</sup></i>
                                        </span>
                                    </div>
                                </div>
                                {% else %}
                                <div class="trip__path-item trip__path-item--wo-object color-muted-light ">
                                    {{ item.name.as_deref().unwrap_or("Без названия") }}
                                </div>
                                {% endif %}
                                <span class="trip__path-sep color-muted"></span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if trip.tlib_url.is_some() %}
                    <div class="trip__actions">
                        <div class="trip__action">
                            <a href="{{ trip.tlib_url.as_ref().unwrap() }}" target="_blank" class="btn btn--primary">
                                <i class="fa fa-arrow-circle-down"></i> Скачать отчёт на tlib.ru
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div>

                <div class="trip__section trip__section--map" id="trip-map">
                    <div class="trip__sticky js-sticky" data-sticky-top-spacing="60">
                        <div class="map-wrapper map-expanded-container js-sticky-remove">
                            <div class="map map--trip js-map" data-bounds-primary="true"
                                data-bounds="{% if trip.bounds.is_some() %}[[{{ trip.bounds.as_ref().unwrap().0.0 }},{{ trip.bounds.as_ref().unwrap().0.1 }}],[{{ trip.bounds.as_ref().unwrap().1.0 }},{{ trip.bounds.as_ref().unwrap().1.1 }}]]{% else %}[]{% endif %}"
                                data-polyline="[{% for (lat, lng) in trip.polyline_coords %}[{{ lat }},{{ lng }}]{% if !loop.last %},{% endif %}{% endfor %}]"
                                data-polyline-arrow="true" data-polyline-number="true"
                                data-options="{&quot;active_object_class&quot;:&quot;pin-active&quot;,&quot;active_object_ids&quot;:[{% for id in trip.polyline_object_ids %}{{ id }}{% if !loop.last %},{% endif %}{% endfor %}]}">
                            </div>
                        </div>
                        <div class="map"></div>
                        <div class="p font-small color-muted">
                            <p>На карте отображены только объекты с известными координатами. Пунктир просто соединяет
                                объекты, не показывая истинный маршрут.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script type="text/x-tmpl" id="tmpl-map-controls-custom">
        <div class="map-controls map-controls--trip">
        <div class="map-control map-control--vert map-control--chevron js-map-trip-prev disabled">
        <i class="fas fa-chevron-up"></i>
        <div class="map-control__tooltip tooltip tooltip-notouch" data-title="Перейти к предыдущему объекту маршрута" data-tooltipster='{"side": "right"}'></div>
        </div>
        <div class="map-control map-control--vert js-map-trip-show-all">
        <i class="far fa-circle"></i>
        <div class="map-control__tooltip tooltip tooltip-notouch" data-title="Показать все объекты маршрута" data-tooltipster='{"side": "right"}'></div>
        </div>
        <div class="map-control map-control--vert map-control--chevron js-map-trip-next">
        <i class="fas fa-chevron-down"></i>
        <div class="map-control__tooltip tooltip tooltip-notouch" data-title="Перейти к следующему объекту маршрута" data-tooltipster='{"side": "right"}'></div>
        </div>
        </div>
        </script>

    </div>

</div>

<div class="footer footer--absolute touch-focused disable-prevent-link-clicks">
    <div class="copyright">
        <a href="https://vk.com/pereval.online" target="_blank"
            class="social-icon social-icon--vk tooltip tooltipstered"><i class="fab fa-vk"></i></a> ©
        2025 Перевал.Online. Просим указывать ссылку на <a
            href="https://pereval.online/">pereval.online</a> при
        использовании материалов сайта.
    </div>
</div>
<div class="footer-replace"></div>
{% endblock %}